table.board {
  table-layout: fixed;
  border-collapse: collapse;
  height: 100vh;
  width: 100vw;
}

.board table,
th,
td {
  border: 1px solid black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}